@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Fraunces:opsz,wght@9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a{
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 20px;
  width: 1280px;
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 760px; */
}

.header-list{
  display: flex;
  gap: 33px;
}
.list-itemss {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  letter-spacing: 0.923077px;
  text-transform: uppercase;

  color: #83888f;
  cursor: pointer;
}
.list-itemss:hover {
  color: #333d4b;
}
.home-page{
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  letter-spacing: 0.923077px;
  text-transform: uppercase;

  color: #83888f;
  cursor: pointer;
}
.home-page:hover{
  color: #333d4b;
}



.section2{
    padding: 157px 85px;
    width: 1280px;
    height: 450px;
background-image: url(../images/Group\ 7.png);
background-repeat: no-repeat;
background-size: contain;
}
.hero-header2{
    margin-bottom: 24px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    
    
    color: #FEFCF7;
    
}
.hero-desc2{
   
width: 445px;
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #FEFCF7;

}



.main3{
margin-top: 148px;
margin-left: 50px;
}
.container2{
    margin: 0 auto;
    width: 1110px;
}
.hero2{
display: flex;
align-items: center;
gap: 125px;
}

.hero-title2{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    
    
    color: #333D4B;
}
.hero-par2{
    margin-top: 22px;
width: 445px;
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #333D4B;

mix-blend-mode: normal;
opacity: 0.8;
}


.article2{
   margin-top: 246px;
}
.article2-div{
    border-radius:  10px; 
    display: flex;
    align-items: center;
    width: 1280px;
    height: 474px;
background-color: #2C343E;
}
.heading-a{
    padding: 88px 0 176px 85px;
}
.article-heading2{

font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    
    
    color: #FEFCF7;
}
.article-desc2{
    margin-top: 32px;
    width: 540px;
    font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #FEFCF7;

mix-blend-mode: normal;
opacity: 0.8;

}
.article-img{
margin-bottom: 200px;
margin-left: 125px;
}

/* countries part */
.countries{
margin-top: 168px;
}
.container-c{
  margin: 0 auto;
  width: 1045px;
}
.countries-heading{
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  
  
  color: #83888F;
  
}
.headquarters{
display: flex;
gap: 95px;
}
.headquarters-countries{
  width: 285px;
margin-top: 72px;
}
.h-header{
  
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 112% */
  
  
  color: #333D4B;
}
.address{
  margin-top: 24px;
  width: 115px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  
  
  color: #333D4B;
    
}
.uk{
margin-bottom: 46px;
}
.canada{
margin-bottom: 45px;
}
.australia{
margin-bottom: 48px;
}

.footer{
  margin-top: 200px;
  background-color: #2C343E;
 }
 
 .footer-part{
  display: flex;
  align-items: center;
 }
.nav{
margin-left: 102px;
}
.header-list {
  display: flex;
  gap: 33px;
}
.list-items {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  letter-spacing: 0.923077px;
  text-transform: uppercase;

  color: #83888f;
  cursor: pointer;
}
.list-items:hover {
  color: #FEFCF7;
}
.div-btn{
  margin-left: 368px;
  display: flex;
  gap: 24px;
}
.footer-btn{
 
  background:#2C343E ;
  border: none;
  cursor: pointer;

  
}
.footer-btn:hover{
  background-color: #FDD6BA; 
background: #2C343E;
}
























