


.conntainer{


.cards-part{
    margin: 0 auto;
        width: 1110px;
    display: flex;
    align-items: center;
    gap: 30px;
   

    .cardss{
        margin-top: -300px;
        background: #0E8784;
        border-radius: 8px;
      
       display: flex;
       align-items: center;
       flex-direction: column;
    max-width: 350px; 
        padding: 72px 48px;
    }
        .card-header{
            margin-top: 56px;
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            /* identical to box height, or 133% */
            
            text-align: center;
            
            color: #FEFCF7;
            
        }

        .card-desc{
            margin-top: 24px;  
            width: 256px;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */
            
            text-align: center;
            
            color: #FEFCF7;
            
        }
        .cardss-card{
            
            margin-top: -300px;
            background: #0E8784;
        border-radius: 8px;
        padding: 72px 48px;
       display: flex;
       align-items: center;
       flex-direction: column;
    // max-width: 350px;
    }
        .cardd{
            margin-top: 77px;
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            /* identical to box height, or 133% */
            
            text-align: center;
            
            color: #FEFCF7;
            
        }

        .card-desc{
            width: 256px;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */
            
            text-align: center;
            
            color: #FEFCF7;
            
           
        }
    

}
}



@media only screen and(max-width:279px) {
.conntainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

    
    .cards-part{
    
            .card-header{
                font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-align: center;

color: #FEFCF7;

.card-desc{
    width: 212px;
    font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
/* or 167% */

text-align: center;

color: #FEFCF7;
}
}
            
        
//         .cardss-card{
// // .cardd{

// // }
// //         }
    }
    
}


