.header {
  

  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__list {
      display: flex;

      gap: 33px;
      .header__itemss {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height, or 125% */

        letter-spacing: 0.923077px;
        text-transform: uppercase;

        color: #83888f;
        cursor: pointer;

        &:hover {
          color: black;
        }
      }

      .link-page {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height, or 125% */

        letter-spacing: 0.923077px;
        text-transform: uppercase;

        color: #83888f;

        &:hover {
          color: black;
        }
      }
    }
  }
  .humburger-div{
    display: none;
  }
}

@media  only screen and (max-width:576px) {
  .header{
    .header__nav{
      display: none;
    }

    .humburger-div{
      display: block;
    }
  }

}
